.why {
   padding: 140px 0 120px;

   .container {
      max-width: 1200px;
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
      margin: 0 auto;
   }

   &__hat {
      max-width: 545px;

      img {
         padding-top: 30px;
      }
   }

   &__content {
      max-width: 480px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 10px;
   }

   &__card {
      display: flex;
      flex-direction: column;
      gap: 5px;

      p {
         opacity: 0.8;
      }
   }
}

@media screen and (max-width: 1199px) {
   .why {
      padding: 120px 0;

      .container {
         flex-direction: column;
         align-items: center;
         gap: 50px;
         padding: 0 30px;
      }

      &__content {
         gap: 20px;
      }
   }
}

@media screen and (max-width: 767px) {
   .why {
      padding: 100px 0;

      &__hat h3 {
         font-size: 50px;
         line-height: 60px;
         text-align: center;
      }
   }
}